// Place all the styles related to the Towers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pac-input {
  height: 27px;
  width: 200px;
  margin: 10px;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  z-index: 100;
  right: 50px;
}

body {
  margin: 0px;
}

.key {
  position: absolute;
  background-color: white;
  bottom: 0px;
  margin: 10px;

  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background-clip: padding-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  font-family: Roboto, Arial, sans-serif;
  padding: 13px;
  font-size: 13px;
}

.h-20x {
  height: 20px
}

.mb-10x {
  margin-bottom: 10px;
}

.mr-3x {
  margin-right: 3px;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.x {
  position: absolute;
  top: 5px;
  right: 5px;
  color: darkgrey;
}

.x:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

// Marker size adjusters
.marker-size-adjuster {
  cursor: pointer;
  display: flex;
}

.round-left {
  border: 0.5px solid darkgrey;
  border-radius: 50px 0 0 50px;
  padding: 5px 10px 5px 12px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.3), 0 1px rgba(255,255,255,0.1);
}

.round-right {
  // Skipping left border
  border-top: 0.5px solid darkgrey;
  border-right: 0.5px solid darkgrey;
  border-bottom: 0.5px solid darkgrey;

  border-radius: 0 50px 50px 0;
  padding: 5px 12px 5px 10px;
}

.round-right:hover, .round-left:hover {
  background-color: lightgrey;
}